*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}




@import "variables";
@import "mixins";
@import "maps";
@import "grids";
@import "header";
@import "footer";
@import "tienda";
@import "personalizado";
@import "membresia";
@import "instalaciones";
@import "index";

// Manejando el error 404

.error{

    height: 20rem;

    display: flex;

    align-items: center;
    justify-content: center;

    .h1-error{

        font-family: $fuente_h1;
        font-size: 48px;

    }
    
    

}
